.messages {
    width: 100%;
    overflow: scroll;
}

.messages::-webkit-scrollbar { 
    display: none; 
}

.messages__container {
    max-width: 90%;
    min-height: 100%;
    height: max-content;
    /* padding: 0 40px; */
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.01); */
}