.chat__input {
   display: flex;
   align-items: flex-end;
   background: #192131;
   border-radius: 4px;
   max-width: 90%;
   width: 100%;
   
   margin: 0 auto;
   height: 70%;
   margin-bottom: 20px;
}

.chat__input__btn {
   display: flex;
   align-items: flex-end;
   /* margin-top: auto; */
}

.input {
   display: flex;
   align-items: center;
   color: rgb(255, 255, 255);
   max-width: 100%;
   width: 100%;
   background: #24304800;
   border: none;
   overflow-y: auto;
   word-wrap: break-word;
   word-break: break-all;
   margin: auto 0;
   margin-left: 15px;
   margin-right: 15px;

   height: 100%;

   padding: 10px 10px;
}

.input::placeholder {
   color: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0.8);
}

.camera {
   color: white;
   width: 21px;
   margin-right: 15px;
   height: 18px;
}
.microphone {
   width: 21px;
   height: 18px;
   margin-right: 15px;
}
.smile {
   width: 21px;
   height: 18px;
   margin-right: 15px;
}
.clip {
   margin: auto 0;
   margin-left: 14px;
   width: 21px;
   height: 18px;
}
.chat__input__btn {
   /* margin-bottom: 10px; */
   display: flex;
   align-items: center;
   align-self: center;
}
