.chat__input {
   display: flex;
   align-items: center;
   background: #243048;
   border: 1px solid #e9e9e9;
   border-radius: 4px;
   max-width: 983px;
   width: 100%;
   height: 45px;
   margin: 29px 30px 36px 30px;
   margin: 0 auto;
}
.chat__input__btn {
   display: flex;
   align-items: center;
}
.input {
   color: black;
   width: 100%;
   border: none;
   background: #243048;
   -webkit-appearance: none;
   margin-left: 15px;
}
.camera {
   color: white;
   width: 21px;
   margin-right: 15px;
   height: 18px;
}
.microphone {
   width: 21px;
   height: 18px;
   margin-right: 15px;
}
.smile {
   width: 21px;
   height: 18px;
   margin-right: 15px;
}
.clip {
   margin-left: 14px;
   width: 21px;
   margin-top: 2px;
   height: 18px;
}
.chat__input__btn {
   margin-top: 2px;
   display: flex;
   align-items: center;
   align-self: center;
}
